/* Animation for the flashing background */
@keyframes flash-red {
  0% { background-color: #ffffff; }
  50% {background-color: #c10808; }
  100% { background-color: #ffffff; }
}

.alarm-flashing {
  animation: flash-red 0.5s infinite;
}

.centre {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#alarmSet {
  margin: 20px;
}

h1 {
  text-align: center;
} 